<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YTDL :: Free youtube downloader</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="headerBody">
        <div class="container headerContent">
            <span>YTDL</span>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Conatact</a></li>
            </ul>
        </div>
    </div>

    <div class="showcase ">
        <div class="center form">
            <input type="text" id="videoUrl" placeholder="Enter your video url">
            <input type="submit" value="Search" id="search">
        </div>
    
        <div class="center showData">
            <div class="thumbnail" id="t">
                
            </div>
            <div class="details">
                <h3 id="title"></h3>
                <p id="desc"></p>
            </div>
        </div>
        <div class="center extra">
            <div id="qualityOption">

            </div>
            
            <div class="r hidden" id="b"><button>Download</button></div>
            
        </div>
    
    </div>
    <script src="/js/main.js"></script>
</body>
</html>